<%= render partial: "layouts/navbar" %>
<div class="container">
  <h3 class="username">
    <span>
      <%= image_tag @user.image_url %>
    </span>
    <%= @user.username %>
  </h3>
  <br>
  <h4 class="deck-title"> Created decks: </h4>
    <table class="highlight title">
      <thead>
        <th> 
          Name
        </th>
        <th>
          Colors
        </th>
        <th>
          Card Count
        </th>
      </thead>
      <tbody>
        <% @user.decks.each do |deck| %>
          <tr data-link="<%= deck_path(deck.id) %>">
            <td>
              <%= deck.name %>
            </td>
            <td>
              N/A
            </td>
            <td>
              <%= deck.cards.count %>
            </td>
            <% if current_user.decks.find(deck.id) %>
              <td>
                <%= button_to "Edit", edit_deck_path(deck.id), method: :get %>
              </td>
            <% end %>
            <td>
              <%= button_to "Delete", deck_path(deck.id), method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>